build/
libarchive-3.1.2.tar.gz
libarchive-3.1.2/
hfscompressor.xcodeproj/xcuserdata/badlogic.xcuserdatad/xcdebugger/
hfscompressor.xcodeproj/xcuserdata/badlogic.xcuserdatad/xcschemes/xcschememanagement.plist
hfscompressor.xcodeproj/project.xcworkspace/xcshareddata/
hfscompressor.xcodeproj/project.xcworkspace/xcuserdata/